<template name="cookiebar">

    {{#unless cookiebarShown}}
        <div id="cookiebar">
            <div class="container">
                <span>{{t 'commons.cookie_warning'}}</span> <a class="btn btn-primary btn-close">{{t 'presentation.cookie_warning.accept'}}</a>  <span><a href="{{pathFor 'presentation.static.imprint'}}">{{t 'commons.cookie_warning.more'}}</a></span>

                <a class="btn btn-close closecookiebar">&times;</a>
            </div>
        </div>
    {{/unless}}

</template>